@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Inter", "sans-serif";
    --color-primary: #003366;
    --color-secondary: #3b82f6;
    --color-Title: #111827;
    --color-body: #6b7280;
    --color-placeholder: #9ca3af;
    --color-page: #f0f2f5;
    --color-surface: #fbfbfd;
    --color-inverse: #111827;
    --color-Subtle: #e5e7eb;
    --color-success: #10B981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
}
